/*
colours: https://coolors.co/fce762-fffded-ffb17a-4f4789-201335
FCE762, FFFDED, FFB17A, 4F4789, 201335
*/
header {
    background-color: #4F4789;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 1.5rem;
}
main {
    display: flex;
    justify-content: space-around;
}
.create {
    background-color: #FCE762;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.create h3 {
    text-align: center;
    text-decoration: underline;
}
.create button {
    background-color: #FFB17A;
    border-radius: 5px;
    width: fit-content;
    align-self: center;
    padding: 5px;
}
.create button:hover {
    background-color: #FFFDED;
}
.create div {
    padding: 10px;
}
.truckDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    align-content: center;
    background-color: #FFB17A;
}
.truckDetails h3 {
    text-align: center;
    text-decoration: underline;
}
footer {
    font-size: 2rem;
    text-align: center;
    background-color: #201335;
    color: white;
    padding: 2px;
}